html {
  font-size: 12px;
  font-family: "Gothic Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  border-bottom: 1px solid grey;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
}
@media only screen and (max-width: 900px){
  header {
    justify-content: center;
    display: block;
    text-align: center;
    height: 12rem;
  }
}
.mobile {
  display: none;
}

@media only screen and (max-width: 900px){
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
a {
  text-decoration: none;
}

.logo a:visited {
/*  color: rgb(255, 153, 0); */
  color: rgb(0, 140, 220);
}

.logo a:link {
  color: rgb(0, 140, 220);
}
h2 {
  font-size: 2.25rem;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: black;
}
p em {
  font-weight: 700;
  color: #FFFFFF;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

@media only screen and (max-width: 900px){
  .logo {
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
  }
}
header img {
  width: 5rem;
  height: 5rem;
}

.logotext {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.logotext p {
  font-size: 1rem;
  color: grey;
  margin: 0;
}

@media only screen and (max-width: 900px){
  nav {
    width: 100%;
    display: block;
    text-align: center;
    background-color: lightgrey;
  }
}
nav span {
  padding-right: 6rem;
  color: grey;
  font-size: 1.25rem;
  font-family: 'Bungee Inline';
}

@media only screen and (max-width: 900px){
  nav span {
    padding: 0.5rem 0;
    display: block;
    border: 1px solid white;
  }
}

nav span a:visited {
  color: grey;
}

nav span a:link {
  color: grey;
}

nav span a:hover {
  color: rgb(0, 140, 255);
}

header nav span a:hover {
  color: rgb(255, 153, 0);
}
p.logoname {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(0, 140, 255);
  font-family: 'Bungee Inline';
  margin: 0;
}

.ban {
  display: flex;
  position: relative;
  top: 9rem;
  justify-content: center;
  height: 438px;
  align-items: center;
/*  background-color: black; */
/*  background-image: url("../images/bricks.PNG"); */
}
.ban:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1400px){
  .ban {
   height: 538px;
  }
}
@media only screen and (max-width: 1100px){
  .ban {
   height: 400px;
  }
}
@media only screen and (max-width: 900px){
  .ban {
  top: 14rem;
   height: 350px;
  }
}
@media only screen and (max-width: 700px){
  .ban {
    height: 300px;
  }
}
@media only screen and (max-width: 500px){
  .ban {
    height: 250px;
  }
}
.regular{
  width: 100%;
  height: 404px;
  border: 2px solid rgb(255, 153, 0);
  z-index: 3;
}
@media only screen and (min-width: 1400px){
  .regular{
  height: 504px;
  }
}
@media only screen and (max-width: 1100px){
  .regular{
  height: 354px;
  }
}
@media only screen and (max-width: 900px){
  .regular {
  height: 304px;

  }
}
@media only screen and (max-width: 700px){
  .regular {
    height: 254px;
  }
}
@media only screen and (max-width: 500px){
  .regular {
    height: 204px;
  }
}

.banner {
  width: 100%;
  height: 400px;
}
@media only screen and (min-width: 1400px){
  .banner {
    height: 500px;
  }
}

@media only screen and (max-width: 1100px){
  .banner {
    height: 300px;
  }
}
@media only screen and (max-width: 900px){
  .banner {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .banner {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .banner  {
    height: 200px;
  }
}
.banner-good {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0,140,255);
  width: 100%;
  height: 400px;
  background-image: url("../images/Ottawa-downtown.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 1400px){
  .banner-good {
    height: 500px;
  }
}

@media only screen and (max-width: 1100px){
  .banner-good {
    height: 350px;
  }
}
@media only screen and (max-width: 900px){
  .banner-good {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .banner-good {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .banner-good {
    height: 200px;
  }
}

.regular h1 {
  font-size: 3rem;
  font-family: "Bungee Inline", cursive;

}

.banner-good:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217 ,217,0.05);
}

.banner-good h1 {
  z-index: 4;
}

.banner-good img {
  width: 12%;
  height: 30%;
  z-index: 4;
}
@media only screen and (min-width: 1400px){
  .banner-good img{
     width: 15%;
     height: 30%;
  }
}
.banner-good h2 {
  padding: 5rem;
  color: rgb(255, 153, 0);
  z-index: 4;
  text-align: center;
  line-height: 2.5;
}

@media only screen and (max-width: 500px){
  .banner-good h2 {
    font-size: 1.5rem;
    line-height: normal;
    padding: 1rem;
  }
}
.banner-good h2 em {
  color: white;
}

.banner-good h2 a {
  color: rgb(255, 153, 0);
}
@media only screen and (min-width: 1400px){
  .one {
    height: 500px;
  }
}

@media only screen and (max-width: 1100px){
  .one {
    height: 350px;
  }
}
@media only screen and (max-width: 900px){
  .one {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .one {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .one  {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
}

.two {
  background-image: url('../images/Toronto-Skyline.jpg');
}
@media only screen and (min-width: 1400px){
  .two {
    height: 500px;
  }
}
@media only screen and (max-width: 1100px){
  .two {
    height: 350px;
  }
}
@media only screen and (max-width: 900px){
  .two {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .two {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .two  {
    height: 200px;
  }
}

.three {
  background-image: url("../images/Paint-Roller-banner-no-text.PNG");
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1400px){
  .three {
    height: 500px;
  }
}
@media only screen and (max-width: 1100px){
  .three {
    height: 350px;
  }
}
@media only screen and (max-width: 900px){
  .three {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .three {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .three  {
    text-align: center;
    height: 200px;
  }
}
.three h1 {
  color: rgb(0, 140, 255);
}
.three h2 {
  margin-top: 2rem;
  padding: 0.75rem;
  font-size: 2.5rem;
  background-color: rgb(255, 153, 0);
  border-radius: 8px;
}
.three h2 a:visited {
  color: white;
}

.three h2 a:link {
  color: white;
}
.three h2:hover {
  background-color: darkblue;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.80);
}

.four {
  background-image: url("../images/Touch-Sensor-banner.PNG");
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1400px){
  .four {
    height: 500px;
  }
}
@media only screen and (max-width: 1100px){
  .four {
    height: 350px;
  }
}
@media only screen and (max-width: 900px){
  .four {
    height: 300px;
  }
}
@media only screen and (max-width: 700px){
  .four {
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  .four  {
    text-align: center;
    height: 200px;
  }
}
.four h1 {
  color: rgb(0, 140, 255);
}
.four h2 {
  margin-top: 2rem;
  padding: 0.75rem;
  font-size: 2.5rem;
  background-color: rgb(255, 153, 0);
  border-radius: 8px;
}
.four h2 a:visited {
  color: white;
}

.four h2 a:link {
  color: white;
}
.four h2:hover {
  background-color: darkblue;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.80);
}

/*.banner {
  width: 100%;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px){
  .banner {
    height: 400px;
    top: 13rem;
  }
}
.photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../images/eternal-flame.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
@media only screen and (max-width: 900px){
  .photo {
  height: 400px;
}
}

.photo i:hover{
  transform: rotate(360deg);
  transition: transform 2s ease-in 200ms;
}
.photo h1{
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  z-index: 4;
  font-family: 'Lobster', cursive;
}
.photo i{
  z-index: 4;
  color: grey;
  height: 4rem;
  width: 4rem;
}*/
.page-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 9rem;
  flex-wrap: wrap;
  height: 150px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 900px){
  .page-navigation {
    top: 13rem;
  }
}

@media only screen and (max-width: 700px){
  .page-navigation {
    height: 500px;
  }
}
.item a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 120px;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
}

@media only screen and (max-width: 980px) and (min-width: 701px){
  .item a {
    width: 200px;
  }
}
@media only screen and (max-width: 700px){
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.item:hover{
  background-color: lightgrey;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px rgba(50 ,50 ,50 ,0.8);

}
.item p {
  font-size: 1rem;
  font-weight: 400;
  color: grey;
  font-family: 'Bungee Inline';
}

.item i{
  color: rgb(255,153,0);
}

#drawings,
#cad,
#create {
  position: relative;
  top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  padding-bottom: 2rem;
  text-align: center;
  border-bottom: 2px solid white;
  border-radius: 4px;
}

@media only screen and (max-width: 900px){
  #drawings,
  #cad,
  #create {
    top: 13rem;
  }
}

#drawings h2,
#cad h2,
#create h2 {
  padding: 2rem 0;
  color: black;
  z-index: 4;
}

#drawings h3,
#cad h3,
#create h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: grey;
  z-index: 4;
  font-family: "Lobster";
}
#drawings p,
#cad p,
#create p {
  font-size: 1.5rem;
}

#drawings {
  background-image: url('../images/hawaii-rainbow.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#cad {
  background-image: url('../images/gear-train.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#create {
  background-image: url('../images/canal.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#drawings:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 140,255,0.5);
}
#cad:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 121, 0, 0.5);
}

#create:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
}
.projects {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  z-index: 4;
}

.project {
  display: flex;
  width: 300px;
  height: 188px;
  border: 2px solid rgb(255, 153,0);
  justify-content: center;
  margin: 1rem;
  border-radius: 1rem;
}

.project:hover {
  box-shadow: 6px 6px 3px rgba(50 ,50 ,50 ,0.8);
}
/*@media only screen and (max-width: 500px) {
  .project {
    height: 200px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 501px){
  .project {
    height: 300px;
  }
}*/
.project a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.paint-roller {
  background-image: url('../images/Paint-Roller.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 188px;
  border-radius: 1rem;
}
/*@media only screen and (max-width: 800px){
  .paint-roller {
    height: 89.25%;
  }
}

@media only screen and (max-width: 500px){
  .paint-roller {
    height: 84%;
  }
}*/

.paint-roller:hover {
  background-image: url("../images/Paint-Roller-hover.png");
}

.scissor-jack {
  background-image: url('../images/scissor-jack.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 188px;
  border-radius: 1rem;
}

.scissor-jack:hover {
  background-image: url("../images/scissor-jack-hover.PNG");
}

.touch-sensor {
  background-image: url("../images/Touch-Sensor.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 188px;
  border-radius: 1rem;
}

.touch-sensor:hover {
  background-image: url("../images/Touch-Sensor-hover.PNG");
}

.gearbox-sprocket{
  background-image: url('../images/gearbox-sprocket.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 188px;
  border-radius: 1rem;
}

.gearbox-sprocket:hover {
  background-image: url("../images/gearbox-sprocket-hover.PNG");
}

.project-image-title {
/*  padding: 1rem;*/
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.project-image-title img {
  width: 400px;
  height: 300px;
  border: 1px solid grey;
}

.project-information {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cad {
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 9rem;
  width: 100%;
  height: 100px;
  background-color: white;
  border-top: 1px solid grey;
}

@media only screen and (max-width: 900px){
  footer{
    top: 13rem;
  }
}
.copyright {
  padding-left: 5rem;
  color: grey;
  font-size: 1.25rem;
  font-family: 'Bungee Inline';
}

.hover {
  display: none;
}

.
